.create-page-container{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    height: 55vh;
    margin: 4rem;
    border-radius: 7px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.create-page-container form{
    display: flex;
    flex-direction: row;
    font-size: 1.5rem;
    width: 100%;
    padding: 1rem;
    height: 100%;
}

.create-page-container form .col{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
}

.create-page-container form .col:nth-child(1){
    width: 50%;
    margin-right: 1rem;
}

.create-page-container form .col input{
    height: 10%;
    width: 100%;
    margin-bottom: 1rem;
}

.developers-list{
    flex-grow: 1;
}

.developers-list select{
    height: 80%;
    width: 100%;
    font-size: 0.85rem;
}

.create-page-container .col textarea{
    height: 50%;
}

.create-project-submit{
    display: flex;
    position: relative;
    height: 30%;
    justify-content: center;
    align-items: center;
}

.create-project-submit button{
    position: relative;
    width: 60%;
    margin: 0;
}

.create-project-submit .project-submitted-alert,
.create-project-submit .project-error-alert{
    position: absolute;
    opacity: 0;
    font-size: 1rem;
    color: var(--primary-color);
    transition: opacity 0.5ms ease-in-out;
}
.create-project-submit .project-error-alert{
    bottom: -8%;
}
.create-project-submit .project-submitted-alert{
    bottom: -2.5%;
    font-size: 1.25rem;
}

.create-project-submit .project-error-alert{
    color: red;
}
.project-error-alert:hover,
.project-submitted-alert:hover{
    cursor: default;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.project-error-alert.alerting {
    opacity: 0;
    animation: fade 1.5s linear;
}


@keyframes fade {
  0%,100% { opacity: 0 }
  50% { opacity: 1 }
}

.project-submitted-alert.alerting{
    opacity: 100;
}

@media only screen and (max-width: 1000px){
    .create-page-container{
        width: 70%;
    }
}
@media only screen and (max-width: 600px){
    .create-page-container{
        width: 100%;
        margin-right: 1rem;
        margin-left: 1rem;
    }
}
