.create-page-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    height: 60%;
    margin: 4rem;
    border-radius: 7px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.create-page-header{
    display: flex;
    width: 90%;
    height: 6rem;
    align-items: center;
    padding-left: 3rem;
    font-size: 2rem;
    border-radius: 7px;
    translate: 0 -2rem;
    background-color: var(--accent-color);
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px;
}

.create-project-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 2rem;
    width: 100%;
    height: 100%;
}

.create-project-grid div section{
    margin-bottom: 0.5rem;
}

.create-project-grid div:first-child input{
    width: 70%;
}

.create-project-grid div:nth-child(2) textarea{
    width: 70%;
    height: 60%;
}

.create-project-grid div:nth-child(4){
    display: flex;
    align-items: center;
}

.create-project-grid div:nth-child(4) button{
    justify-content: center;
    width: 70%;
    height: 3rem;
    font-size: 1.25rem;
    background-color: var(--accent-color);
    transition: background-color var(--animation-timing);
}

.create-project-grid div:nth-child(4) button:hover{
    background-color: var(--light-teal);
    transition: background-color var(--animation-timing);
}

.create-project-submit{
    position: relative;
}

.create-project-submit .project-submitted-alert,
.create-project-submit .project-error-alert{
    position: absolute;
    opacity: 0;
    bottom: 0;
    color: var(--primary-color);
    transition: opacity 0.5ms ease-in-out;
}

.create-project-submit .project-error-alert{
    color: red;
}
.project-error-alert:hover,
.project-submitted-alert:hover{
    cursor: default;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.project-error-alert.alerting {
    opacity: 0;
    animation: fade 1.5s linear;
}


@keyframes fade {
  0%,100% { opacity: 0 }
  50% { opacity: 1 }
}

.project-submitted-alert.alerting{
    opacity: 100;
}

@media only screen and (max-width: 1000px){
    .create-page-container{
        width: 70%;
    }
}
@media only screen and (max-width: 600px){
    .create-page-container{
        width: 100%;
        margin-right: 1rem;
        margin-left: 1rem;
    }
}