.home{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-left: 4%;
    padding-top: 4%;
    background-color: #fafafa;
    z-index: -1;
    color: black;
    --card-background: rgba(107, 107, 107, 0.229);
}
.one-three{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    gap: 3rem;    
    margin-bottom: 6rem;
}
.four-five{
    display: flex;
    position: relative;
    gap: 3rem;
    flex-wrap: wrap;
    align-items: center;
}

.one{
    display: flex;
    position: relative;
    flex-direction: column;
    padding: 10px;
    width: 30%;
    height: 280px;
    border-radius: 10px 10px 0 0;
    box-shadow: 2px calc(5px + 3rem) 5px rgba(0, 0, 0, 0.3);
    background-color: var(--background-color);
    align-items: center;
}

section{
    display: flex;
    justify-content: center;
    background-color: red;
    width: calc(100% + 20px);
    font-size: larger;
    padding: 1rem;
    border-radius: 0 0 10px 10px;
}


/* .one::after, */
.two::after,
.three::after,
.four::after,
.five::after{
    content: "";
    padding: 1rem;
    position: relative;
    translate: -10px;
    width: calc(100% + 20px);
    text-align: center;
    font-size: larger;
    border-radius: 0 0 10px 10px;
    background-color: white;
}
/* .one::after{
    content: "Tickets by Priority";
} */
.two::after{
    content: "Tickets by Device Type";
}
.three::after{
    content: "Tickets by Status";
}
.four::after{
    content: "Amount of Tickets Over Time";
}
.five::after{
    content: "Tickets Completed Each Quarter";
}

.two{
    display: flex;
    flex-direction: column;
    position: relative;
    border-radius: 10px 10px 0 0;
    padding: 10px;
    width: 30%;
    height: 280px;
    box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.3);
    background-color: var(--background-color);
}


.three{
    display: flex;
    flex-direction: column;
    position: relative;
    border-radius: 10px 10px 0 0;
    padding: 10px;
    width: 30%;
    height: 280px;
    box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.3);
    background-color: var(--background-color);
}

.four{
    display: flex;
    flex-direction: column;
    position: relative;
    border-radius: 10px 10px 0 0;
    padding: 10px;
    width: 63%;
    height: 280px;
    box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.3);
    background-color: var(--background-color);
}

.five{
    display: flex;
    flex-direction: column;
    position: relative;
    border-radius: 10px 10px 0 0;
    padding: 10px;
    width: 30%;
    height: 280px;
    box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.3);
    transition: width 200ms ease-in-out;
    background-color: var(--background-color);
}

canvas{
    width: 100%!important;
    transition: width 300ms ease-in-out;
}



@media only screen and (max-width: 1300px){
    .one-three,
    .four-five{
        gap: 0;
    }
    .one,
    .two,
    .three,
    .five{
        min-width: 45%;
    }
    .two{
        margin-left: 3rem;
    }
    .three{
        margin-top: 6rem;
    }
    .four{
        min-width: 80%;
        margin-bottom: 6rem;
    }
}

@media only screen and (max-width: 780px){
    .one-three,
    .four-five{
        margin: 0;
        justify-content: center;
    }
    .one,
    .two,
    .three,
    .five{
        width: 80%;
        margin: 0;
        margin-bottom: 6rem;
    }


}