.home{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-left: 4%;
    padding-top: 4%;
    background-color: #fafafa;
    --card-background: rgba(107, 107, 107, 0.229);
}
.one-three{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    height: 45%;
    gap: 3rem;    
    margin-bottom: 6rem;
}
.four-five{
    display: flex;
    position: relative;
    gap: 3rem;
    flex-wrap: wrap;
    align-items: center;
}
.chart{
    height: 85%;
    width: 100%!important;
    transition: width 300ms ease-in-out;
}


/* section{
    display: flex;
    justify-content: center;
    background-color: red;
    width: calc(100% + 20px);
    font-size: larger;
    padding: 1rem;
    border-radius: 0 0 10px 10px;
} */

section{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    border-radius: 0 0 10px 10px;
    height: 15%;
}

/* .one,
.two,
.three,
.five{
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 100%;
    overflow: hidden;
    border-radius: 0 0 10px 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    
}

.four{
    position: relative;
    width: 63.25%;
    height: 100%;
    border-radius: 0 0 10px 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
} */


.one{
    display: flex;
    position: relative;
    flex-direction: column;
    padding: 10px;
    width: 30%;
    height: 100%;
    border-radius: 10px 10px 0 0;
    background-color: var(--background-color);
    align-items: center;
}

.two{
    display: flex;
    flex-direction: column;
    position: relative;
    border-radius: 10px 10px 0 0;
    padding: 10px;
    width: 30%;
    height: 280px;
    box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.3);
    background-color: var(--background-color);
}


.three{
    display: flex;
    flex-direction: column;
    position: relative;
    border-radius: 10px 10px 0 0;
    padding: 10px;
    width: 30%;
    height: 280px;
    box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.3);
    background-color: var(--background-color);
}

.four{
    display: flex;
    flex-direction: column;
    position: relative;
    border-radius: 10px 10px 0 0;
    padding: 10px;
    width: 63%;
    height: 280px;
    box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.3);
    background-color: var(--background-color);
}

.five{
    display: flex;
    flex-direction: column;
    position: relative;
    border-radius: 10px 10px 0 0;
    padding: 10px;
    width: 30%;
    height: 280px;
    box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.3);
    transition: width 200ms ease-in-out;
    background-color: var(--background-color);
}

/* canvas{
    width: 100%!important;
    transition: width 300ms ease-in-out;
} */



@media only screen and (max-width: 1300px){
    .one-three,
    .four-five{
        gap: 0;
    }
    .one,
    .two,
    .three,
    .five{
        min-width: 45%;
    }
    .two{
        margin-left: 3rem;
    }
    .three{
        margin-top: 6rem;
    }
    .four{
        min-width: 80%;
        margin-bottom: 6rem;
    }
}

@media only screen and (max-width: 780px){
    .one-three,
    .four-five{
        margin: 0;
        justify-content: center;
    }
    .one,
    .two,
    .three,
    .five{
        width: 80%;
        margin: 0;
        margin-bottom: 6rem;
    }


}