html, body, #root{
  height: 100%;
  background-color: var(--background-color);
}


:root{
  --background-color: #fafafa;
  --color:  #0a0c31;
  --primary-color: #a8f495;
  --accent-color: #13ddd6;
  --hover-icon-color: #1a83ff;
  --font-color: white;
  --green: #3dcfba;
  --pink: #ff57ad;
  --purple: #8794f4;
  --light-purple: #f7f5ff;
  --red: #db434f;
  --light-red: #fff2f7;
  --gold: #febe38;
  --light-gold: #fff4eb;
  --blue: #558bf8;
  --teal: #71ebfb;
  --light-teal: #90f5f8;
  /* --light-teal: #b1dbff; */
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
