.login{
    position: absolute;
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.bg-image{
    position: relative;
    width: 100%;
    height: 100%;
    background-image: url('../images/home.png');
    background-size: cover;
    filter: blur(10px);
    opacity: 40%;
}


.login-card-container{
    background-color: white;
    display: flex;
    position: absolute;
    align-items: center;
    width: 25%;
    height: 50%;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.3);
}

.login-title{
    font-size: 2.5rem;
    margin-top: 1rem;
}

.login-inputs{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 2rem 0 1rem 35%;
    
}

.login-inputs input{
    width: 67%;
    border: none;
    height: 2.5rem;
    border: 1px solid black;
}

.login-inputs input:nth-child(1){
    border-bottom: none;
}

.login-inputs section{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.login-inputs button{
    text-decoration: underline;
    font-size: 1rem;    
}

.login-buttons{
    width: 50%;
}

img{
    width: 30px;
    height: 30px;
}

button{
    display: flex;
    align-items: center;
    border: none;
    outline: none;    
    background: none;
}

.login-btn{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 3rem;
    font-size: 1.25rem;
    margin-bottom: 1rem;
    background-color: var(--accent-color);
}

.google-btn{
    background-color: #4285F4;
    width: 100%;
    height: 3rem;
    margin-bottom: 1rem;
    font-size: 1rem;
    padding: 5px;
    border: none;
}

.google-btn img{
    background-color: white;
    border-radius: 5px;
    margin-right: 1.60rem;
}

.github-btn{
    position: relative;
    background-color:  #242424;
    color: white;
    width: 100%;
    font-size: 1rem;
    height: 3rem;
    padding: 0;
    border: none;
}


.github-btn img{
    margin-right: 0.3rem;
    margin-left: .3rem;
}

.github-btn section{
    display: flex;
    padding-right: 1.75rem;
    background-color: #333333;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    
}

button:hover{
    cursor: pointer;
}

.password-signup-container section{
    display: flex;
    margin: 0.5rem 0 0 0;
}

.password-signup-container section button{
    text-decoration: underline;
    font-size: 1rem;
}