.projects-page-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 4rem;
}

.create-project-btn{
    display: flex;
    width: 15%;
    height: 3rem;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    font-size: 1rem;
    margin-bottom: 2rem;
    background-color: var(--light-teal);
    transition: background-color var(--animation-timing);
    color: black;
    text-decoration: none;
}

.create-project-btn:hover{
    background-color: var(--accent-color);
    transition: background-color var(--animation-timing);
}

.projects-list-container{
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: white;
    height: 90%;
}

.projects-list-header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 1rem;
    width: 95%;
    height: 5rem;
    translate: 0 -1rem;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 5px 15px;
    background-color: aqua;
}

.projects-list-header section{
    font-size: 2rem;
    margin-left: 2rem;
}

.projects-list-header section:nth-child(2){
    padding-left: 2rem;
    font-size: 1rem;
}

@media only screen and (max-width: 1170px){
    .create-project-btn{
        width: 160px;
    }
}

@media only screen and (max-width: 750px){
    .projects-page-container{
        margin: 4rem 2rem 2rem 2rem;
    }
}

@media only screen and (max-width: 660px){
    .projects-table{
        font-size: 0.75rem;
    }
}

@media only screen and (max-width: 500px){
    .projects-page-container{
        width: 100%;
        margin: 2rem 0 0 0;
    }
    .create-project-btn{
        margin-left: 1rem;
    }
}
