.reset-password-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 60%;
}

.reset-password-form .general-button{
    width: 50%;
    margin-top: 10%;
}

.reset-password-form .confirm-password,
.reset-password-form .confirm-password-error{
    background-color: blue;
    width: 100%;
    margin-bottom: 5%;
    margin-top: 5%;
    border-top: none;
}