.select-users{
    display: flex;
    flex-direction: column;
    width: 300px!important;
}

.select-users section{
    padding-bottom: 1rem;
}

.select-users select{
    width: 240px;
    background-color: white;
    border: 1px solid black;
}

.select-users div{
    display: flex;
    width: 280px;
    background-color: red;
    margin: 0!important;
    padding: 0;
    align-items: center;
}