.paginated-table-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.paginated-table{
    position: relative;
    width: 90%;
    border-collapse: collapse;
    margin: 2rem 0 2rem 0;
}

.paginated-table tr{
    border-bottom: 1px solid black;
}

.paginated-table tr:nth-child(1){
    box-sizing: content-box;
    border-bottom: 2px solid black;
}

.paginated-table tr td{
    text-align: center;
    vertical-align: middle;
}

.paginated-table tr td:last-child{
    display: flex;
    height: 100%;
    justify-content: space-evenly;
    align-items: center;
    text-decoration: none;
}

.paginated-table-list{
    display: flex;
    position: absolute;
    bottom: 0;
    right: 5rem;
}

.no-tickets-link{
    background-color: var(--light-teal);
    transition: background-color var(--animation-timing);
}

.navigation{
    display: flex;
    width: 90%;
    justify-content: space-between;
}

@media only screen and (max-width: 650px){
    *{font-size: 0.85rem;}
}
@media only screen and (max-width: 400px){
    *{font-size: 0.75rem;}
}