.ticket-page-container{
    display: flex;
    width: 100%;
    margin: 4rem;
    justify-content: space-evenly;
}

.ticket-page-container > div{
    width: 45%;
    position: relative;
    border-radius: 4px;
    background-color: white;
    height: min-content;
}

.ticket-info{
    display: grid;
    grid-template-columns: auto auto;
}

.ticket-info > div{
    display: flex;
    flex-direction: column;
    padding-left: 2rem;
}

.ticket-info > div  div{
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    grid-template-rows: auto auto;
    margin-bottom: 1rem;
}

.comment-input-container{
    margin-left: 5%;
    max-width: 30%;
}

.comment-input-container input{
    width: 100%;
}
.comment-input-container button{
    display: flex;
    justify-content: center;
    border-radius: 4px;
    margin: 1rem 0 1rem 0;
    height: 2rem;
    width: 100%;
    background-color: var(--light-teal);
    transition: var(--animation-timing);
}

.comment-input-container button:hover{
    background-color: var(--accent-color);
    transition: var(--animation-timing);
}

@media only screen and (max-width: 1000px){
    .ticket-page-container{
        height: fit-content;
        flex-direction: column;
        gap: 2rem;
        justify-content: start;
    }
    .ticket-page-container > div{
        width: 100%;
    }
    .ticket-page-container:first-child{
        margin-bottom: 1rem;
    }
}

@media only screen and (max-width: 600px){
    .ticket-page-container{
        margin: 4rem 0 4rem 0;
    }
}